
<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Start on:</strong>
  <%= @task.start_on %>
</p>

<p>
  <strong>Due on:</strong>
  <%= @task.due_on %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @task.order_number %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
